version: '3'
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=postgres-db
    ports:
      - "3001:3000"
    depends_on:
      - postgres-db
  postgres-db:
    image: postgres:latest
    env_file:
      - .env
    ports:
      - "5432:5432"
